project:
  type: book
  preview: 
    port: 4200
    browser: false

book:
  title: "Het Genesisboek"
  output-file: main
  subtitle: "Het verhaal van de mensen en projecten die aan de basis stonden van Bitcoin"
  author: "Aaron van Wirdum"
  translator: Theo Hague
  date: "2024-10-31"
  isbn: 978-9916-749-41-8
  license: CC BY-NC-ND
  language: nl
  original-title: "The Genesis Book"
  publisher: Konsensus Network
  original-publisher: BTC Media Books
  repo-url: https://github.com/konsensusnetwork/TGB_NL
  repo-actions: [edit, source]
  search:
    location: sidebar
    type: overlay
  sidebar:
    style: floating
    border: true
  navbar:
    logo: cover.png
    logo-alt: Cover
    right:
      - icon: github
        href: https://github.com/konsensusnetwork/TGB_NL
        aria-label: GitHub
      - icon: shop
        href: https://bitcoinbook.shop/products/het-genesisboek
        aria-label: Shop
  page-footer:
    left:
      - text: "© 2024 Konsensus Network"
    center:
      - text: "License"
        href: license.qmd
    right:
      - icon: twitter
        href: https://twitter.com/konsensusn
        aria-label: Twitter
      - icon: github
        href: https://github.com/konsensusnetwork
        aria-label: Github
      - icon: linkedin
        href: https://www.linkedin.com/konsensusnetwork
        aria-label: LinkedIn
      - icon: youtube
        href: https://www.youtube.com/konsensusnetwork
        aria-label: YouTube
  open-graph:
    locale: nl_NL
    site-name: Het Genesisboek - Het verhaal van de mensen en projecten die Bitcoin inspireerden
    image: cover.png
    description: Het Genesisboek is een boek over de mensen en projecten die Bitcoin inspireerden. Het vertelt het verhaal van de mensen en projecten die de weg vrijmaakten voor ‘s werelds eerste succesvolle peer-to-peer elektronisch betaalsysteem.
  twitter-card:
    site: "@konsensusn"
    creator: "@svrnhdl"
    image: cover.png
    title: Het Genesisboek - Het verhaal van de mensen en projecten die Bitcoin inspireerden
    description: Het Genesisboek is een boek over de mensen en projecten die Bitcoin inspireerden. Het vertelt het verhaal van de mensen en projecten die de weg vrijmaakten voor ‘s werelds eerste succesvolle peer-to-peer elektronisch betaalsysteem.
  favicon: cover.png
  chapters:
    - index.qmd
    - hoofdstuk/CH00a.qmd
    - opening-quote.qmd
    - hoofdstuk/CH00b.qmd
    - part: "Grondslagen"
      chapters:
      - hoofdstuk/CH01.qmd
      - hoofdstuk/CH02.qmd
      - hoofdstuk/CH03.qmd
      - hoofdstuk/CH04.qmd
      - hoofdstuk/CH05.qmd
      - hoofdstuk/CH06.qmd
      - hoofdstuk/CH07.qmd
    - part: "Cypherpunks"
      chapters:
      - hoofdstuk/CH08.qmd
      - hoofdstuk/CH09.qmd
      - hoofdstuk/CH10.qmd
      - hoofdstuk/CH11.qmd
      - hoofdstuk/CH12.qmd
      - hoofdstuk/CH13.qmd
    - part: "Bitcoin"
      chapters:
      - hoofdstuk/CH14.qmd
      - hoofdstuk/CH15.qmd
      - hoofdstuk/CH16.qmd
    - hoofdstuk/CHXX.qmd
    - hoofdstuk/CHYY.qmd
    - references.qmd

format:
  html:
    lang: nl
    theme:
      light: [lux, theme.scss, theme-light.scss]
      dark: [lux, theme.scss, theme-dark.scss]
    linestretch: 1.6
    number-depth: 1
  pdf:
    lang: nl
    documentclass: memoir
    classoption: smalldemyvopaper,11pt,twoside,onecolumn,openright,extrafontsizes, hidelinks
    papersize: a5
    toc-depth: 1
    toc-title: Inhoudsopgave
    keep-tex: true
    colorlinks: false
    include-in-header:
      - preamble.tex

  epub:
    cover-image: cover.png
    toc: true
    toc-depth: 1
    toc-title: Inhoudsopgave
    creator: Konsensus Network
    lang: "nl-NL"